.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
/*______________NAVIGATION______________*/
.nav{
    flex: 2;
    border-right: #333 solid 1px;
    display: flex;
    flex-direction: column;
}
.nav__title{
    text-align: center;
}
.nav__menu-list{
    flex: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.menu-list__item{
    margin-bottom: 5px;
}
.menu-list__link{
    display: block;

    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    color: #333333;
    font-size: 1.05em;
    transition: border-bottom 0.3s, border-top 0.3s;

}
.menu-list__item:hover .menu-list__link{
    border-bottom: 1px solid darkgray;
    border-top: 1px solid darkgray;

}
.next-to-last{
    margin-bottom: 100px;
}
.last{
    text-align: center;

    transition: background-color 0.3s, color 0.3s;
}
.menu-list__item:hover .last{
    background-color: #333333;
    color: #f0f0f0;
}

/*______________MAIN______________*/
.main{
    flex: 10;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;

}
/*--- Table ---*/
